
.logo{
display: flex;
flex:1;
float:left;

}

.logo-text{
  padding-left: .5rem;
}

.delicious{
  font-family: 'Yellowtail', cursive;
  font-size: 2.5rem;
}

.sublogo{
  font-size: .6rem;
  font-family: sans-serif;
  color: gray
}

header{
  display: flex;
  width: 900px;
  margin: auto;
}

.social-media{
  float: right;
  padding-top: 10px;
}

.headline{
  width: 900px;
  margin: auto;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.title{
  flex:1;
  }

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner{
  height: .75rem;
  width: 900px;
  margin: auto;
  margin-top:2rem;
  margin-bottom:3rem;
  background-image: url('img/hr-img.png');
}

.byline-container {
  width: 900px;
  margin: auto;
  display:flex;
  color: rgb(175, 170, 170);
  font-family: sans-serif;
  font-size: .75rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}

article {
  width: 900px;
  margin: auto;
}

article p {
  text-indent: 20px;
  margin-top: 1.5rem;
  color: gray;
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  
}

.list {
  width: 900px;
  margin: auto;
  margin-top: 1rem
}

.ingredients{
  display: flex;
  flex:1;
  width: 900px;
  margin: auto;
  justify-content: space-evenly;
  font-family: 'Kiwi Maru', serif;
  font-size: 1rem;
  letter-spacing: 2px;
  margin-top: -15rem;
  margin-bottom: 10rem;
}

li {
  margin: 10px;
}

.footer{
  text-align: center;
}

.footer img{
  border-width: thick;
}

.about-me {
  display: flex;
  width: 900px;
  margin: auto;
}

.author-details {
  display: flex;
  align-items: center;
}

.name{
  font-weight: bold;
  font-size: 2rem;
}

.author-details{
  display:flex;
  flex:1;
}

.share-recipe-btn {
  background-color: #bc7058;
  border: none;
  color: white;
}